.faq-title {
    letter-spacing: 8px;
    font-size: 1em;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px auto;
}

.accordion-title{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.accordion-text{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    color: #696969;  
    text-shadow: 0px 0px #888888;
}

.mat-accordion .mat-expansion-panel:last-of-type{
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
}

mat-accordion {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

mat-expansion-panel{
    width: 100%;
    border-radius: 0px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.mat-expansion-panel-header-title{
    color: gray;
}


.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid gray;;
}
