<nav>
  <div class="nav-slice">
    <img class="logo" src="../../assets/iconmonstr-bank-1.svg">
  </div>
  <div class="nav-slice">
      <a class="nav-link">Roby</a>
      <a class="nav-link">Frocio</a>
      <a class="nav-link">Ricchione</a>
  </div>
</nav>
<div class="hero-image">
  <div class="hero-text">
    <h1 class="main-title">BECAME A DEVELOPER</h1>
    <button class="btn">APPLY NOW!</button>
  </div>
</div>
<article>
  <div class="timeline-container"></div>
  <div class="text-grid">
    <div class="">
      <p class="copy">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare velit sit amet orci placerat, eu faucibus erat imperdiet. Sed nec ullamcorper dui. Suspendisse pharetra urna urna. Quisque pharetra nulla a ante blandit, et condimentum nunc euismod. Vestibulum nec purus sit amet tellus ornare posuere. Sed fermentum elementum nunc. Integer lacinia pharetra urna, id elementum ante convallis eu.</p>
    </div>
    <div class="">
      <p>Nullam lobortis dolor finibus, luctus sapien eu, posuere diam. In lacus elit, ultricies volutpat laoreet non, rhoncus elementum velit. Proin a leo ex. Nullam vitae dui ac ex rhoncus tempor. Cras ac convallis augue, id egestas arcu. Nullam consectetur felis sed felis blandit, vel feugiat est gravida. Pellentesque volutpat dictum odio ac lobortis. Aenean hendrerit a felis vel rhoncus. Donec dignissim est tincidunt risus blandit tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="timeline-container"></div>
  <div class="text-grid">
      <div class="">
        <p class="copy">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare velit sit amet orci placerat, eu faucibus erat imperdiet. Sed nec ullamcorper dui. Suspendisse pharetra urna urna. Quisque pharetra nulla a ante blandit, et condimentum nunc euismod. Vestibulum nec purus sit amet tellus ornare posuere. Sed fermentum elementum nunc. Integer lacinia pharetra urna, id elementum ante convallis eu.</p>
      </div>
      <div class="">
        <p>Nullam lobortis dolor finibus, luctus sapien eu, posuere diam. In lacus elit, ultricies volutpat laoreet non, rhoncus elementum velit. Proin a leo ex. Nullam vitae dui ac ex rhoncus tempor. Cras ac convallis augue, id egestas arcu. Nullam consectetur felis sed felis blandit, vel feugiat est gravida. Pellentesque volutpat dictum odio ac lobortis. Aenean hendrerit a felis vel rhoncus. Donec dignissim est tincidunt risus blandit tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
</article>