<nav>
  <div class="nav-slice">
    <img class="logo" src="../../assets/iconmonstr-bank-1.svg">
  </div>
  <div class="nav-slice">
      <!-- <a class="nav-link">Roby</a>
      <a class="nav-link">Frocio</a>
      <a class="nav-link">Ricchione</a> -->
  </div>
</nav>
<div class="hero-image">
  <div class="hero-text">
    <h1 class="main-title">FORMIAMO I DEVELOPER DEL FUTURO</h1>
    <button class="btn">APPLY NOW!</button>
  </div>
</div>
<article>
  <div class="timeline-container">
    <h2 class="main-title-copy">Chi sono gli sviluppatori del futuro?</h2>
    <img class="future" src="../../assets/ilFuturo.svg"> 
  </div>
  <div class="text-grid">
    <div class="">
      <p class="copy">
          UniPro e' un accademy per sviluppatori.
          La nostra missione e' di fornire ai nostri alunni l'esperienza e le capacita' necessarie per intraprendere una carriera nell'industria dello sviluppo informatico.
          </p>
    </div>
    <div class="">
      <p>
          Abbiamo delineato tre differenti 'career path' estremamente appetibili per il mercato odierno.
      </p>
    </div>
  </div>
  <div class="timeline-container">
      <h2 class="main-title-copy">Come si formano gli sviluppatori del futuro?</h2>
    <img class="timeline" src="../../assets/timeline.svg"> 
  </div>
  <div class="text-grid">
    <div class="">
      <p class="copy">
        Il nostro corso è stato pensato e sviluppato da professionisti del settore.
        ispirandosi a concetti fondamentali quali 'learning-by-doing' consentendo dal day 1 
        un immersione in un vero ambiente di lavoro senza però tralasciare l importanza del supporto
        educativo pensato adhoc per ogni studente.  
      </p>
    </div>
    <div class="">
      <p>Universitatech ti guiderò in ogni tuo step verso la carriera da sviluppatore</p>
        <ul>
          <li>Supporto nella scelta della professione</li>
          <li>Classi apposite, seminari e creazione di team per sviluppo di progetti reali</li>
          <li>Lavoro garantito per 6 mesi con noi, o in caso di interesse delle nostre aziende facente parte del nostro network ti aiuteremo nella negoziazione del tuo primo lavoro da sviluppatore!</li>
        </ul>
    </div>
        <div class="form-container">
          <h3 class="form-title">Contattaci</h3>
            <mat-form-field>
              <input [(ngModel)]="nome" name="nome"  matInput placeholder="Nome">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="cognome" name="cognome" matInput placeholder="Cognome">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="telefono" name="telefono" matInput placeholder="Telefono">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="email" name="email" matInput placeholder="E-mail">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput [(ngModel)]="messaggio" name="messaggio" placeholder="Messaggio"></textarea>
              </mat-form-field>
              <button class="btn-black" (click)="submit()">APPLY NOW!</button>
          </div>
    </div>
    <div class="timeline-container">
        <h2 class="main-title-copy">FAQ</h2>
      <div class="text-grid">
        <div>
          <p class="copy-faq">Cos'e' univeristatech?<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, error corrupti quidem accusantium aspernatur vel animi nobis?
          </p>
        </div>
        <div>
          <p class="copy-faq">Come avviene la formazione?</p>
        </div>
        <div>
          <p class="copy-faq">Come viene supportata la scelta?</p>
        </div>
        <div>
          <p class="copy-faq">Come funziona viene introdotto al mondo del lavoro?</p>          
        </div>
          <p class="copy-faq">UniverisitàTech è aperta a tutti?</p>
        <div>
          <p class="copy-faq">Corso e metodi di pagamento?</p>          
        </div>        
      </div>
    </div>
</article>
<footer>
  <div class="footer-aling">
    <div class="contacts">
      <h4 class="footer-class-title">Contatti</h4>
      <p><strong>Milano</strong></p>
      <p>Via della spiga 25</p>
      <p>20900</p>
      <p><strong>Roma</strong></p>
      <p>Via Veneto 125f</p>
      <p>20900</p>
      <p style="padding:5px">info@unitech.it</p>      
    </div>
    <div class="contacts" style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    ">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=via%20guerrazzi%2036%20monza&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style></style></div>
    </div>
    <div class="contacts" style="text-align:right; line-height:30px;">
        <h4 class="footer-class-title">About</h4>
        <p>The fastest growing industry in the world desperately needs you.</p>
        <p>We’ll ensure that you are prepared to receive their offer.</p>
        <p>It’s as simple as that </p>
      </div>
  </div>
</footer>