.form-title{
    letter-spacing: 8px;
    font-size: 1em;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant', serif;
}

.mat-form-field{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 5%;
}


textarea {
    margin-bottom: 40px;
}

.btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 2em;
    border-radius: 2px;
    font-family: 'Cormorant', serif;
    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
        box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    }
}

.btn-black{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 10px;
    font-size: 2em;
    border-radius: 2px;
    font-family: 'Cormorant', serif;
    width: 300px;
    margin: 0 auto;
    &:hover {
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
        box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    }
}

.error {
    font-size: 18px;
    color: red;
    margin-top: -30px;
}

.btn-disabled {
    opacity: 0.3;
    &:hover {
        cursor: not-allowed;
        -webkit-box-shadow: 0px 0px 19px 1px #d11717;
        -moz-box-shadow: 0px 0px 19px 1px #d11717;
        box-shadow: 0px 0px 19px 1px #d11717;
    }
}

.success {
    color: green;
}