.bg-image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/photo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headline-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.timeline-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  font-family: 'Cormorant', serif;
  width: 100%;
  padding: 90px 20px 50px 20px;  
  box-sizing: border-box;
}

.main-title{
  font-family: 'Cormorant', serif;
  font-weight: 300;
  font-size: 7em;
  border-bottom: 1px solid;
}

nav{
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.nav-slice{
  display: flex;
  align-items: center;
}
.nav-link{
  border: 1px solid; 
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size:1.2em;
  padding: 5px 10px 5px 10px;
  margin: 10px 20px 0px 20px;
  cursor: pointer;
  &:hover{
    text-shadow: 2px 2px 2px rgba(0,196,255,1);
  }
}

.btn{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 2em;
  border-radius: 2px;
  font-family: 'Cormorant', serif;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
  }
}

.btn-black{
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px;
  font-size: 1em;
  border-radius: 2px;
  font-family: 'Cormorant', serif;
  width: 300px;
  margin: 0 auto;
  &:hover {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
  }
}

.flex-text{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;;
  font-size: 1.7em;
  line-height: 50px;
  font-weight: 200;
  font-family: 'Cormorant', serif;
  color: black;
}

.logo{
  width: 150px;
  padding: 20px;
  margin-top: 100px;
  background-color: white;
}

article{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline{
  width: 60%;
}

.future{
  width: 70%;
}
.future-2{
  width: 90%;
  padding: 30px;
}

.form-title{
  letter-spacing: 8px;
  font-size: 2em;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
}
.icons{
  max-width: 100px;
  margin: 50px;
}

.icons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  padding: 50px 0 50px 0;
}

.stop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.text-grid{
  display: grid;
  grid-gap: 50px;
  width: 55%;
  grid-template-columns: 1fr 1fr;
  font-size: 1.7em;
  line-height: 50px;
  font-weight: 200;
  font-family: 'Cormorant', serif;
  color: black;
}

footer{
  height: 500px;
  width: 100%;
  bottom: 0;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant', serif;
}

.mat-form-field{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.footer-aling{
  width: 80%;
  height: 90%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
  font-family: 'Raleway', sans-serif;
}

h4{
  font-size: 1.2em;
  letter-spacing: 7px;
  line-height: 50px;
  font-weight: bold;
  border-bottom: 1px solid;
  text-transform: uppercase;
}

.gmap_canvas{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.mapouter{
  width: 80%;
  height: 80%;
}
  
.copy-faq{
  font-size: 0.8em;
  line-height: 50px;
  font-weight: 200;
  font-family: 'Cormorant', serif;
  color: black;
}
.copy{
  font-size: 31px;
}
  
  
  