
.logo_img {
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 150px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}

.header {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)), 
    url("/assets/photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 0 20%;
}

.header_title, .header_btn {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 0 auto;
}

.header_title {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  font-size: 4em;
  border-bottom: 1px solid;
}

.main_container{
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.section_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.section_header {
  display: flex; 
  flex-direction: column;
  border-bottom: 1px solid;
  padding-top: 50px;
  width: 100%;
}


.section_header_title {
  margin:0px;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: medium;
}

.section_header_subtitle{
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: lighter;
}

.section_img {
  width: 100%;
  padding: 30px;
}

.section_copy {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 50px;
  text-align: justify;
}

.question-container {
  justify-content: start;
}

.question-subcontainer {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: auto auto 10% auto;
}

.question_title {
  margin-bottom: 0px;
}


.contactFaq {
  width: 50%;
}

#contact-form {
  border-right: 1px solid black; 
}

.btn{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Cormorant', serif;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
  }
}

.btn-black{
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px;
  font-size: 1em;
  border-radius: 2px;
  font-family: 'Cormorant', serif;
  width: 300px;
  margin: 0 auto;
  &:hover {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
    box-shadow: 0px 0px 19px 1px rgba(0,196,255,1);
  }
}

.flex-text{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;;
  font-size: 1.7em;
  line-height: 50px;
  font-weight: 200;
  font-family: 'Cormorant', serif;
  color: black;
}

.footer{
  height: auto;
  width: 100%;
  font-size: 0.8em;
  display: grid;
  grid-template: auto / 30% 46% 30%;
  grid-column-gap: 2%;
  background-color: grey;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 0 10%;
  box-sizing: border-box; 
}

.footer_right { 
  line-height:30px;
  text-align: right;
  height: 100%;
}

.footer_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.footer-class-title {
  font-size: 1.2em;
  letter-spacing: 7px;
  line-height: 50px;
  font-weight: bold;
  border-bottom: 1px solid;
  text-transform: uppercase;
}


/* mobile devices portrait */
@media only screen and (max-width: 600px) {

  .logo_img {
    width: 6%;
    height: auto;
    padding: 3px;
  }

  .header {
    padding: 0 2%;
  }

  .main_container {
    padding: 0 7%;
  }

  .header_title {
    font-size: 3em;
  }

  .header_btn {
    font-size: 2em;
  }

  .section_container {
    flex-direction: column;
  }

  .section_header_title, .section_header_subtitle {
    font-size: 2.5em;
    text-align: center;
  }

  .section_header_subtitle {
    font-size: 1.5em;
  }

  .skillcategory_copy, .academy_copy, .journey_copy {
    word-spacing: 2px;
    font-size: 2em;
  }

  .question-subcontainer {
    flex-direction: column;
  }

  .contactFaq {
    width: 100%;
  }

  #contact-form {
    border: none; 
  }

  .footer{
    display: block;
    padding: 0 7%;
    box-sizing: border-box; 
  }

  .footer_middle {
    display:  none;
  }

} 

/* mobile devices landscape & ipad portrait */
@media only screen and (min-width: 600px) and (max-width: 768px) {

  .logo_img {
    width: 9%;
    padding: 3px;
    height: auto;
  }

  .header, .main_container {
    padding: 0 10%;
  }

  .header_title {
    font-size: 3em;
  }

  .header_btn {
    font-size: 2em;
  }

  .footer {
    padding: 0 10%;
    display: grid;
    grid-column-gap: 2%;
    grid-template: auto auto / 49% 49%;
  }

  .footer_right {
    grid-column-start: 2;
  }

  .footer_middle {
    grid-row-start: 2;
    grid-column: 1 / -1;
    overflow: hidden;
  }

}


// iphone x & ipad landscape / ipad pro /  
//@media only screen and (min-width: 600px) and (max-width: 768px) {
//}