<picture class="logo">
  <source media="(min-width: 600px)" srcset="/assets/logo.svg">
  <img class="logo-img" src="/assets/uni.svg" alt="unitech logo">
</picture>

<!-- <img  src="/assets/logo.svg" /> -->

<header class="header" data-aos="fade-up">
  <h1 class="header_title" >DIVENTA DEVELOPER DEL FUTURO</h1>
  <button class="header_btn btn" pageScroll href="#contattaci">APPLY NOW!</button>
</header>

<main class="main-container">

  <section class="section_container skillcategory-container">
    <header class="section_header">
      <h2 class="section_header_title" data-aos="fade-up-right">{{skillcategory.title}}</h2>
      <h2 class="section_header_subtitle" data-aos="fade-up-right">{{skillcategory.subtitle}}</h2>
    </header>
    <img class="section_img" src="/assets/category.svg" data-aos="fade-up-left" > 
    <p class="section_copy" data-aos="fade-up-right"> {{skillcategory.copy}} </p>
  </section>

  <section class="section_container journey-container">
    <header class="section_header">
      <h2 class="section_header_title" data-aos="fade-up-right" >{{training.title}}</h2>
      <h2 class="section_header_subtitle" data-aos="fade-up-right" >{{training.subtitle}}</h2>
    </header>
    <img class="section_img" src="/assets/journey.svg" data-aos="fade-up-left"> 
    <p class="section_copy" data-aos="fade-up-right">{{training.copy}}</p>
  </section>

  <section class="section_container academy-container">
    <header class="section_header">
      <h2 class="section_header_title" data-aos="fade-up-right">{{academy.title}}</h2>
      <h2 class="section_header_subtitle" data-aos="fade-up-right">{{academy.subtitle}}</h2>
    </header>
    <img class="section_img" src="/assets/mission.svg" data-aos="fade-up-left"> 
    <p class="section_copy" data-aos="fade-up-right">{{academy.copy}}</p>
  </section>

  <section id="contattaci" class="section_container question-container">
    <header class="section_header">
      <h2 class="section_header_title" data-aos="fade-up-right">Universita' Tech: </h2>
      <h2 class="section_header_subtitle" data-aos="fade-up-right">Iscrizione</h2>
    </header>
    <div class="question-subcontainer">
      <app-contact-form id="contact-form" class="contactFaq"></app-contact-form>
      <app-faq class="contactFaq"></app-faq>
    </div>
  </section> 

</main>
  
 <footer class="footer">

    <div class="contacts">
      <h4 class="footer-class-title">Contatti</h4>
      <p><strong>Milano</strong></p>
      <p>Via della spiga</p>
      <p>20121</p>
      <p><strong>Roma</strong></p>
      <p>Via Veneto</p>
      <p>00187</p>
      <p>info@unitech.it</p>      
    </div>

    <div class="footer-middle">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.3833246279924!2d12.487353015441974!3d41.90611767921996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61aa04368f9d%3A0xbe09d7baa2bd2f89!2sVia+Vittorio+Veneto%2C+00187+Roma+RM!5e0!3m2!1sen!2sit!4v1553937546842!5m2!1sen!2sit" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="footer-right">
      <h4 class="footer-class-title">About</h4>
      <p>The fastest growing industry in the world desperately needs you.</p>
      <p>We’ll ensure that you are prepared to receive their offer.</p>
      <p>It’s as simple as that </p>
    </div>
  
</footer> 