<img class="logo" src="/assets/logo.svg" />

<header class="header" data-aos="fade-up">
  <h1 class="header_title" >DIVENTA DEVELOPER DEL FUTURO</h1>
  <button class="header_btn btn" pageScroll href="#contattaci">APPLY NOW!</button>
</header>

<main class="main-container">

  <section class="section-container skillcategory-container">
    <h2 class="skillcategory_title" data-aos="fade-up-right">{{skillcategory.title}}</h2>
    <img class="skillcategory_img" src="/assets/timeline.svg" data-aos="fade-up-left" > 
    <p class="skillcategory_copy" data-aos="fade-up-right" [innerHTML]="skillcategory.copy"> </p>
  </section>


    <div class="section-container journey-container">
      <h2 class="main-title-copy" data-aos="fade-up-right">formazione degli sviluppatori del futuro</h2>
      <img class="future" src="/assets/ilFuturo.svg" data-aos="fade-up-left"> 
    </div>
    <div class="flex-text">
      <div class="">
        <p class="copy" data-aos="fade-up-right">
          Il nostro sistema è stato pensato e sviluppato da professionisti del settore.
          ispirandosi a concetti fondamentali quali 'learning-by-doing' consente dal day 1 
          un immersione in un vero ambiente di lavoro senza però tralasciare l importanza del supporto
          educativo pensato adhoc per ogni studente.<br><br>
        </p>
      </div>
    </div>



    <div class="section-container">
      <h2 class="main-title-copy" data-aos="fade-up-right">Formazione degli sviluppatori del futuro</h2>
    </div>
    <div class="text-grid" id="contattaci">
      <app-contact-form></app-contact-form>
      <div class="stop">
        <img class="future-2" src="/assets/stop.svg" data-aos="fade-up-left"> 
      </div>
    </div>    
    <app-faq class="section-container"></app-faq>
  </main>
  
  <footer>
    <div class="footer-aling">
      <div class="contacts">
        <h4 class="footer-class-title">Contatti</h4>
        <p><strong>Milano</strong></p>
        <p>Via della spiga 25</p>
        <p>20900</p>
        <p><strong>Roma</strong></p>
        <p>Via Veneto 125f</p>
        <p>20900</p>
        <p style="padding:5px">info@unitech.it</p>      
      </div>
      <div class="contacts" style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      ">
      <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=via%20guerrazzi%2036%20monza&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style></style></div>
    </div>
    <div class="contacts" style="text-align:right; line-height:30px;">
      <h4 class="footer-class-title">About</h4>
      <p>The fastest growing industry in the world desperately needs you.</p>
      <p>We’ll ensure that you are prepared to receive their offer.</p>
      <p>It’s as simple as that </p>
    </div>
  </div>
  </footer>