<nav>
    <div class="nav-slice">
      <img class="logo" src="/assets/logo.svg">
    </div>
    <div class="nav-slice"></div>
  </nav>
  <div class="bg-image"  data-aos="fade-up">
    <div class="headline-text">
      <h1 class="main-title" >DIVENTA UN DEVELOPER DEL FUTURO</h1>
      <button class="btn" pageScroll href="#contattaci">APPLY NOW!</button>
    </div>
  </div>
  <article>
    <div class="timeline-container">
      <h2 class="main-title-copy" data-aos="fade-up-right">Chi sono gli sviluppatori del futuro?</h2>
      <img class="timeline" src="/assets/timeline.svg" data-aos="fade-up-left" > 
    </div>
    <div class="flex-text">
      <div>
        <p class="copy" data-aos="fade-up-right">
          UniversitàTech è l'academy degli sviluppatori del futuro.
          La nostra missione è forgiare esperienze e  conoscenza necessarie ad avviare la<br>
          <strong>TUA</strong> carriera nel mondo informatico.
        </p>
      </div>
    </div>
    <div class="timeline-container">
      <h2 class="main-title-copy" data-aos="fade-up-right">formazione degli sviluppatori del futuro</h2>
      <img class="future" src="/assets/ilFuturo.svg" data-aos="fade-up-left"> 
    </div>
    <div class="flex-text">
      <div class="">
        <p class="copy" data-aos="fade-up-right">
          Il nostro sistema è stato pensato e sviluppato da professionisti del settore.
          ispirandosi a concetti fondamentali quali 'learning-by-doing' consente dal day 1 
          un immersione in un vero ambiente di lavoro senza però tralasciare l importanza del supporto
          educativo pensato adhoc per ogni studente.<br><br>
        </p>
      </div>
    </div>
    <div class="timeline-container">
      <h2 class="main-title-copy" data-aos="fade-up-right">Formazione degli sviluppatori del futuro</h2>
    </div>
    <div class="text-grid" id="contattaci">
      <app-contact-form></app-contact-form>
      <div class="stop">
        <img class="future-2" src="/assets/stop.svg" data-aos="fade-up-left"> 
      </div>
    </div>    
    <app-faq></app-faq>
  </article>
  <footer>
    <div class="footer-aling">
      <div class="contacts">
        <h4 class="footer-class-title">Contatti</h4>
        <p><strong>Milano</strong></p>
        <p>Via della spiga 25</p>
        <p>20900</p>
        <p><strong>Roma</strong></p>
        <p>Via Veneto 125f</p>
        <p>20900</p>
        <p style="padding:5px">info@unitech.it</p>      
      </div>
      <div class="contacts" style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      ">
      <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=via%20guerrazzi%2036%20monza&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style></style></div>
    </div>
    <div class="contacts" style="text-align:right; line-height:30px;">
      <h4 class="footer-class-title">About</h4>
      <p>The fastest growing industry in the world desperately needs you.</p>
      <p>We’ll ensure that you are prepared to receive their offer.</p>
      <p>It’s as simple as that </p>
    </div>
  </div>
  </footer>