/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'aos/dist/aos.css'; // You can also use <link> for styles


body {
  padding: 0px;
  margin: 0px;
  display: block;
}

* {
  outline: none;
}

.main-title-copy{
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  text-align: left;
  width: 55%;
  line-height: 100px;
  border-bottom: 1px solid;
}